
<div class="container-fluid">

<center> C L U B S </center>
<% @clubs.each do |club| %>
<li> <%= club.name %> </li>


<% end %>

<center> Memberships </center>
<% @memberships.each do |member| %>
<li> <%= @memberships.ids %> </li>
<% end %>

<center> Avatars </center>
<% @avatars.each do |avatars| %>
<li><%= avatars.name %> </li>
 
<% end %>








</div>
