<div class="container-fluid">
<div class="badge bg-primary text-wrap" style="width: 20rem;">
  <h1> My Vibes </h1>
</div>
<br>
</br>
 <% if user_signed_in? %>

<div class="jumbotron">
 <% @vibes.each do |vibe| %>


  
    <h2> <%= link_to vibe.name, vibe %> </h2>
    <h2> <%= vibe.details %> </h2>
    <h4> State Of Mind</h4> 
    <span class="badge rounded-pill bg-primary"><%= vibe.color_state %></span>
    <% end %>
    </div>
</div>
    

    <% else %>
    <% render 'layouts/static_landing_page' %>
  
  <% end %>
 </div>
</div>
 
 <br>

<%= link_to "New Vibe", new_vibe_path %>