


<div class="input-group">
<%= form_for Message.new, remote: true do |f| %>


	<div class="input-group-append">
	<%= f.text_field  :body, as: :string, placeholder: "What's up?", class:'form-control', label: false, wrapper: false, autocomplete:'off' %>
	<%= f.submit "Send Message", class: 'btn btn-outline-secondary', method: :post %>
	
</div>

<% end %>
</div>
