<div class= "center">
<div class = "uppercase">
<h1> states of mind </h1>
</div>
<span class="badge rounded-pill bg-light text-dark">MY EMOTIONS</span>

</div>

<br>






  
 <% if user_signed_in? %>
          <div class= "center">
          
          <li style="list-style-type: none;">
            <% @vibes.each do |vibe| %>
            <div class= "card">
   <div class= "card-header"> <%=vibe.created_at.strftime("%b %d, %Y %l:%M %p")%> 
     
  </div>
  <div class= "card-body"> 
     <strong class= "card-text"> <%= vibe.state%> </strong>
     
  <% end %>
  <br>
  </div>
  </div>
  <br>
   <% end %>
   
    
   </div>
   </div>

  