

<div class="center">
<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>
</div>


 <% @users.each do |user| %> 


<center> <h1> <%= link_to user.email.split('@')[0].capitalize, user %> </h1></center>

<% end %>
 
 


