
<p style="text-align:center;"> V I B E R * R O O M </p>

			<% if current_user %>
			<div class="well">

				

             <%= render 'layouts/talkzone' %>
             	<% end %>
             </div>

             <br>
		