                       <div class= "container">
                          <h2 class="text-center"> O R A C L E </h2>
                          </div>
                          




<br>



<%= render 'form' %>

