// Place all the styles related to the Oracle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div2 { 
  width: 50%;
  height: 200px;
  background-color: #00000000; 
}