// Place all the styles related to the vibe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

p1 {
  position: relative;
  font-family: Geneva, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #1d060a, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

